.login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .link {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    a {
      color: var(--clr-neutral-400);
      text-decoration: underline;
    }
  }

  form {
    width: min(30rem, 90vw);
    padding: 1rempx 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: var(--clr-neutral-400);
      margin-bottom: 20px;
    }

    label {
      color: var(--clr-neutral-400);
      font-size: 18px;
    }

    input,
    textarea {
      padding: 20px;
      border: 1px solid rgb(216, 214, 214);
      min-width: 0;
      overflow: hidden;
    }

    button {
      border: none;
      padding: 20px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      background-color: var(--clr-accent-300);
      cursor: pointer;
    }

    span {
      color: red;
      font-size: 12px;
    }
  }
}
