.category {
  width: 100%;
  height: 100%;
  color: white;

  .desc {
    font-weight: 300;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .title {
    color: white;
    font-weight: 500;
    font-size: var(--fs-500);
    text-transform: uppercase;
    position: absolute;
    left: 15px;
    top: 40px;
    -webkit-text-stroke: 0.25px black;
  }
}
