tbody {
  td {
    sup {
      font-size: 12px;
    }

    span {
      display: flex;
      gap: 1rem;
    }

    .image {
      width: 50px;
      height: 25px;
      object-fit: cover;
    }
  }

  &:nth-child(even) {
    background-color: var(--clr-neutral-300);
  }
}
